n8n_workflow.json
{
  "name": "SOA Weekly Report",
  "id": "fde658a6-582c-4179-a771-ab1c4f72c189",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "dcb48834-190f-44d4-a68d-969138e1d522",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        650
      ],
      "parameters": {}
    },
    {
      "id": "a176280b-b0b8-4b46-b10a-b0ad93d7e966",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        810
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "9df92411-c41d-4847-9b3d-b14e72f5654d",
      "name": "Code: Setup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        730
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Replace YOUR_OP_TOKEN_HERE with your actual OpenProject API token\nconst OP_TOKEN = 'YOUR_OP_TOKEN_HERE';\n\nconst PROJECT_ID          = 75;\nconst YEAR_LOOKBACK_DAYS  = 365;\nconst API_BUG_TYPE_ID     = 19;\nconst ENV_STAGE_OPTION_ID = '22';\nconst TODO_STATUS_ID      = '1';\n\n// Pure-JS Base64 — works even if Buffer is unavailable in this n8n version\nfunction _b64(str) {\n  if (typeof Buffer !== 'undefined') return Buffer.from(str).toString('base64');\n  const C = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';\n  const b = Array.from(str).map(c => c.charCodeAt(0));\n  let o = '', i = 0;\n  while (i < b.length) {\n    const b0=b[i++], b1=b[i], b2=b[i+1]; i+=2;\n    o += C[b0>>2]+C[((b0&3)<<4)|(b1>>4||0)]+\n         (b1===undefined?'=':C[((b1&15)<<2)|(b2>>6||0)])+\n         (b2===undefined?'=':C[b2&63]);\n  }\n  return o;\n}\nconst authHeader = 'Basic ' + _b64('apikey:' + OP_TOKEN);\n\nfunction toISO(d) { return d.toISOString().slice(0, 10); }\nfunction addDays(d, n) { const r = new Date(d); r.setDate(r.getDate() + n); return r; }\n\nconst today = new Date(); today.setHours(0,0,0,0);\nconst pyDay = (today.getDay() + 6) % 7;\nlet dsSat = ((pyDay - 5) % 7 + 7) % 7;\nif (dsSat === 0) dsSat = 7;\nconst sat = addDays(today, -dsSat);\nconst sun = addDays(sat, -6);\nconst ws  = toISO(sun), we = toISO(sat);\nconst cutoff = toISO(addDays(sun, -YEAR_LOOKBACK_DAYS));  // from weekStart, matching UI\n\nconst bugIds  = [String(API_BUG_TYPE_ID)];\nconst proj    = { project:      { operator: '=',   values: [String(PROJECT_ID)] } };\nconst openSt  = { status:       { operator: 'o',   values: [] } };               // Status: open\nconst todo    = { status:       { operator: '=',   values: [TODO_STATUS_ID] } }; // Status: is To Do\nconst notBug  = { type:         { operator: '!',   values: bugIds } };\nconst bug     = { type:         { operator: '=',   values: bugIds } };\nconst noStage = { customField9: { operator: '!',   values: [ENV_STAGE_OPTION_ID] } };\nconst created = { createdAt:    { operator: '<>d', values: [ws, we] } };  // created this week\nconst yr      = { createdAt:    { operator: '<>d', values: [cutoff, we] } }; // created last year\nconst updated = { updatedAt:    { operator: '<>d', values: [ws, we] } };  // updated this week\n\nconst fj = (...extras) => JSON.stringify([proj, ...extras]);\n\nreturn [{ json: {\n  authHeader,\n  weekStart:          ws,\n  weekEnd:            we,\n  merpOpenedFilter:   fj(created, notBug),           // Status=all, created this week, !bug\n  merpOpenEndFilter:  fj(yr, openSt, notBug),        // Status=open, yr lookback, !bug\n  bugsOpenedFilter:   fj(created, bug),              // Status=all, created this week, bug\n  bugsOpenEndFilter:  fj(yr, openSt, bug, noStage),  // Status=open, yr lookback, bug, env!=STAGE\n  devTasksFilter:     fj(yr, updated),               // Status=all, yr lookback, updated this week\n  todoFilter:         fj(yr, todo, notBug),          // Status=is To Do, yr lookback, !bug\n  tasksDetailFilter:  fj(yr, updated, notBug),       // Status=all, yr lookback, updated this week, !bug\n  bugsDetailFilter:   fj(yr, updated, bug),          // Status=all, yr lookback, updated this week, bug\n}}];\n"
      }
    },
    {
      "id": "31ac5e4a-a371-476a-a8f4-3d71f0b58246",
      "name": "HTTP: Merp Opened",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        50
      ],
      "parameters": {
        "method": "GET",
        "url": "https://project.intermesh.net/api/v3/work_packages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Code: Setup').first().json.authHeader }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ $('Code: Setup').first().json.merpOpenedFilter }}"
            },
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "1"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "194375ec-4b1f-4390-ad24-7c285c3476fd",
      "name": "HTTP: Merp Open End",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        220
      ],
      "parameters": {
        "method": "GET",
        "url": "https://project.intermesh.net/api/v3/work_packages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Code: Setup').first().json.authHeader }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ $('Code: Setup').first().json.merpOpenEndFilter }}"
            },
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "1"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c9439e0c-4581-41a9-a554-ce75e5c94767",
      "name": "HTTP: Bugs Opened",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        390
      ],
      "parameters": {
        "method": "GET",
        "url": "https://project.intermesh.net/api/v3/work_packages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Code: Setup').first().json.authHeader }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ $('Code: Setup').first().json.bugsOpenedFilter }}"
            },
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "1"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "58ed16c6-21c3-40e5-86ed-0b8b2a903a25",
      "name": "HTTP: Bugs Open End",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        560
      ],
      "parameters": {
        "method": "GET",
        "url": "https://project.intermesh.net/api/v3/work_packages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Code: Setup').first().json.authHeader }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ $('Code: Setup').first().json.bugsOpenEndFilter }}"
            },
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "1"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "9c65a309-3516-4a00-ad66-45e0f090d10c",
      "name": "HTTP: Dev Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        730
      ],
      "parameters": {
        "method": "GET",
        "url": "https://project.intermesh.net/api/v3/work_packages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Code: Setup').first().json.authHeader }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ $('Code: Setup').first().json.devTasksFilter }}"
            },
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "1"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "08d49ca0-cdd7-4e4a-9897-d6294f0b5d88",
      "name": "HTTP: Todo Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://project.intermesh.net/api/v3/work_packages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Code: Setup').first().json.authHeader }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ $('Code: Setup').first().json.todoFilter }}"
            },
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "1"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c45c199c-1859-4e68-b361-704e26cdb457",
      "name": "HTTP: Tasks Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        1070
      ],
      "parameters": {
        "method": "GET",
        "url": "https://project.intermesh.net/api/v3/work_packages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Code: Setup').first().json.authHeader }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ $('Code: Setup').first().json.tasksDetailFilter }}"
            },
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "1"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "81294220-7a85-476f-b203-62373294c1b1",
      "name": "HTTP: Bugs Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        1240
      ],
      "parameters": {
        "method": "GET",
        "url": "https://project.intermesh.net/api/v3/work_packages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Code: Setup').first().json.authHeader }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={{ $('Code: Setup').first().json.bugsDetailFilter }}"
            },
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "1"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "973334ec-855b-43be-abd3-8f6a7ef6a4a6",
      "name": "Read/Write File: Load Cache",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "continueOnFail": true,
      "position": [
        900,
        1410
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/ramlal/mycode/open_project/soa-weekly-report/weekly_data_cache.json",
        "options": {
          "dataPropertyName": "data"
        }
      }
    },
    {
      "id": "7967bdaf-74fd-400a-943a-7e9ba83c5358",
      "name": "Code: Parse Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        1410
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nlet cacheRaw = '{}';\ntry {\n  const b64 = item && item.binary && item.binary.data && item.binary.data.data;\n  if (b64) cacheRaw = Buffer.from(b64, 'base64').toString('utf-8');\n} catch (e) { /* leave cacheRaw as '{}' */ }\nreturn [{ json: { cacheRaw } }];\n"
      }
    },
    {
      "id": "26019fd7-669e-4522-84ac-0a413e2684c9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1180,
        730
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 9,
        "options": {}
      }
    },
    {
      "id": "c316a183-b026-4aeb-abf3-e5a3d2584d85",
      "name": "Code: Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        730
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const API_STORY_TYPE_ID  = 15;\nconst SHEET_URL = 'https://docs.google.com/spreadsheets/d/1xK11zA-7yEEOPFROe1uKLOTnsh9jDXch6owK6szd3-0';\n\n\nfunction linkId(links, key) {\n  const m = ((links?.[key]?.href) || '').match(/\\/(\\d+)$/);\n  return m ? parseInt(m[1]) : null;\n}\nfunction linkTitle(links, key, def='') { return (links?.[key]?.title) || def; }\n\n// getEls unwraps n8n v2.x HTTP response (body is in r.data as a JSON string)\nfunction getEls(nodeName) {\n  let r = $(nodeName).first().json;\n  if (r && r.data !== undefined) {\n    r = typeof r.data === 'string' ? JSON.parse(r.data) : r.data;\n  }\n  if (!r || !r._embedded) {\n    throw new Error(`${nodeName} — unexpected: ${JSON.stringify(r).slice(0,400)}`);\n  }\n  return r._embedded.elements || [];\n}\n\nconst merpOpenedEls  = getEls('HTTP: Merp Opened');\nconst merpOpenEndEls = getEls('HTTP: Merp Open End');\nconst bugsOpenedEls  = getEls('HTTP: Bugs Opened');\nconst bugsOpenEndEls = getEls('HTTP: Bugs Open End');\nconst devTasksEls    = getEls('HTTP: Dev Tasks');\nconst todoEls        = getEls('HTTP: Todo Tasks');\nconst tasksDetailEls = getEls('HTTP: Tasks Detail');\nconst bugsDetailEls  = getEls('HTTP: Bugs Detail');\n\nconst merpB       = merpOpenedEls.length;\nconst merpOpenEnd = merpOpenEndEls.length;\nconst merpBacklog = todoEls.length;\nconst merpWip     = merpOpenEnd - merpBacklog;\nconst bugsB       = bugsOpenedEls.length;\nconst bugsOpenEnd = bugsOpenEndEls.length;\nconst business    = merpOpenedEls.filter(w => linkId(w._links,'type') === API_STORY_TYPE_ID).length;\nconst internal    = merpB - business;\n\n// Dev tasks map (grouped by person, for the email table)\nconst devTasks = {}, seen = new Set();\nfor (const wp of devTasksEls) {\n  const links = wp._links || {};\n  const entry = { id: wp.id, subject: wp.subject||'', type: linkTitle(links,'type','Task') };\n  for (const person of [...new Set([linkTitle(links,'assignee',''), linkTitle(links,'responsible','')].filter(Boolean))]) {\n    const k = `${person}:${wp.id}`;\n    if (!seen.has(k)) {\n      (devTasks[person] = devTasks[person]||[]).push(entry);\n      seen.add(k);\n    }\n  }\n}\nfor (const p of Object.keys(devTasks)) devTasks[p].sort((a,b) => a.id - b.id);\n\n// Convert work package list to flat rows for Google Sheets\nfunction extractSheetRows(els, weekOf) {\n  return els.map(wp => {\n    const links = wp._links || {};\n    const fmt = s => s ? s.slice(0,16).replace('T',' ') : '';\n    return {\n      ID:          wp.id,\n      Subject:     wp.subject || '',\n      Type:        linkTitle(links, 'type', ''),\n      Status:      linkTitle(links, 'status', ''),\n      Author:      linkTitle(links, 'author', ''),\n      Assignee:    linkTitle(links, 'assignee', ''),\n      Accountable: linkTitle(links, 'responsible', ''),\n      'Updated on': fmt(wp.updatedAt),\n      'Created on': fmt(wp.createdAt),\n      'Week Of':   weekOf,\n    };\n  });\n}\n\n// Rolling 4-week cache — persisted to disk (weekly_data_cache.json) via the\n// Read/Write File nodes, NOT $getWorkflowStaticData (that resets whenever this\n// workflow is re-imported/redeployed, which is what caused missing weeks before).\n// The seed below is only a one-time bootstrap for a brand-new/empty cache file.\nlet cache;\ntry {\n  cache = JSON.parse($('Code: Parse Cache').first().json.cacheRaw || '{}');\n} catch (e) { cache = {}; }\nif (!cache || Object.keys(cache).length === 0) {\n  cache = {\n    \"2026-05-31_2026-06-06\": { merp_B:32,merp_C:15,merp_open:124,merp_wip:103,merp_backlog:21,bugs_B:13,bugs_C:18,bugs_open:16,biz_opened:17,int_opened:15,dev_tasks:{} },\n    \"2026-06-07_2026-06-13\": { merp_B:20,merp_C:21,merp_open:123,merp_wip:101,merp_backlog:22,bugs_B:9, bugs_C:13,bugs_open:12,biz_opened:10,int_opened:10,dev_tasks:{} },\n    \"2026-06-14_2026-06-20\": { merp_B:22,merp_C:38,merp_open:107,merp_wip:92, merp_backlog:15,bugs_B:7, bugs_C:5, bugs_open:14,biz_opened:13,int_opened:9, dev_tasks:{} },\n    \"2026-06-21_2026-06-27\": { merp_B:18,merp_C:18,merp_open:107,merp_wip:90, merp_backlog:17,bugs_B:7, bugs_C:9, bugs_open:12,biz_opened:10,int_opened:8, dev_tasks:{} }\n  };\n}\n\nconst setup = $('Code: Setup').first().json;\nconst ws = setup.weekStart, we = setup.weekEnd;\n\nfunction toISO(d) { return d.toISOString().slice(0,10); }\nfunction addDays(d,n) { const r=new Date(d); r.setDate(r.getDate()+n); return r; }\nfunction cacheKey(s,e) { return `${toISO(s)}_${toISO(e)}`; }\n\nconst currStart = new Date(ws+'T00:00:00'), currEnd = new Date(we+'T00:00:00');\nconst currKey   = cacheKey(currStart, currEnd);\n\ncache[currKey] = {\n  merp_B:merpB, merp_open:merpOpenEnd, merp_wip:merpWip, merp_backlog:merpBacklog,\n  bugs_B:bugsB, bugs_open:bugsOpenEnd, biz_opened:business, int_opened:internal, dev_tasks:devTasks\n};\n\nconst weeks = [3,2,1,0].map(i=>[addDays(currStart,-7*i),addDays(currEnd,-7*i)]);\nconst rows  = weeks.map(([s,e])=>({ start:s, end:e, ...(cache[cacheKey(s,e)]||{}) }));\n\nconst MS=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst ML=['January','February','March','April','May','June','July','August','September','October','November','December'];\nfunction sl(s,e) { return `${s.getDate()} ${MS[s.getMonth()]} - ${e.getDate()} ${MS[e.getMonth()]}`; }\nfunction wl(s,e) { return `${s.getDate()} ${ML[s.getMonth()]} - ${e.getDate()} ${ML[e.getMonth()]} ${e.getFullYear()}`; }\n\nfor (let i=0;i<rows.length;i++) {\n  const r=rows[i];\n  r.merp_open_corrected=r.merp_open||0; r.bugs_open_corrected=r.bugs_open||0;\n  if (i===0) { r.merp_A=(r.merp_open||0)-(r.merp_B||0)+(r.merp_C||0); r.bugs_A=(r.bugs_open||0)-(r.bugs_B||0)+(r.bugs_C||0); }\n  else        { r.merp_A=rows[i-1].merp_open||0; r.bugs_A=rows[i-1].bugs_open||0; }\n  if (i===3) {\n    r.merp_C=r.merp_A+(r.merp_B||0)-(r.merp_open||0);\n    r.bugs_C=r.bugs_A+(r.bugs_B||0)-(r.bugs_open||0);\n    cache[currKey].merp_C=r.merp_C;\n    cache[currKey].bugs_C=r.bugs_C;\n  }\n}\n\n// Prune cache to only the last 4 weeks (rows[0..3] keys) so it never grows unbounded.\nconst keepKeys = new Set(weeks.map(([s,e]) => cacheKey(s,e)));\nfor (const k of Object.keys(cache)) if (!keepKeys.has(k)) delete cache[k];\n\nconst cacheOut = JSON.stringify(cache, null, 2);\n\n// HTML generation\nconst H='#2E6B73',S='#5F9EA0';\nconst AB='#FFEB9C',AF='#9C6500',GB='#C6EFCE',GF='#375623',PB='#FFC7CE',PF='#9C0006';\nconst TH=`background:${H};color:white;padding:6px 10px;font-weight:bold`;\n\nfunction pct(cv,pv,gu=true) {\n  if(!pv) return '<td style=\"text-align:center;padding:5px 8px\">—</td>';\n  const d=cv-pv,p=Math.abs(d)/pv*100,ar=d>=0?'▲':'▼';\n  let bg,fg;\n  if(p<=5){bg=AB;fg=AF;}else if((d>0)===gu){bg=GB;fg=GF;}else{bg=PB;fg=PF;}\n  return `<td style=\"background:${bg};color:${fg};font-weight:bold;white-space:nowrap;text-align:center;padding:5px 8px\">${ar} ${p.toFixed(1)}%</td>`;\n}\nfunction num(n){return `<td style=\"text-align:right;padding:5px 10px\">${n}</td>`;}\n\nconst cur=rows[3],prv=rows[2],lbs=rows.map(r=>sl(r.start,r.end));\nconst cD=(cur.merp_C||0)-(prv.merp_C||0),cP=prv.merp_C?Math.abs(cD)/prv.merp_C*100:0;\nconst bD=(cur.bugs_open_corrected||0)-(prv.bugs_open_corrected||0),bP=prv.bugs_open_corrected?Math.abs(bD)/prv.bugs_open_corrected*100:0;\nconst hc=(d,p,g)=>p<=5?'#f39c12':(d>0)===g?'#27ae60':'#e74c3c';\n\nconst hl=`<ul>\n<li>The total number of <strong>closed tasks</strong> has <strong>${cD>=0?'increased':'decreased'}</strong> by\n    <span style=\"color:${hc(cD,cP,true)};font-weight:bold\">${cD>=0?'▲':'▼'} ${cP.toFixed(1)}%</span> vs last week.</li>\n<li>The total count of <strong>open bugs</strong> has <strong>${bD>=0?'increased':'decreased'}</strong> by\n    <span style=\"color:${hc(bD,bP,false)};font-weight:bold\">${bD>=0?'▲':'▼'} ${bP.toFixed(1)}%</span> vs last week.</li>\n</ul>`;\n\nconst th=lbs.map(l=>`<th style=\"${TH};text-align:center\">${l}</th>`).join('');\nconst hdr=`<tr><th style=\"${TH};text-align:left\">Report Summary</th>${th}<th style=\"${TH};text-align:center\">(+/- Last Week)</th></tr>`;\nconst sec=l=>`<tr><td colspan=\"6\" style=\"background:${S};color:white;font-weight:bold;padding:5px 10px\">${l}</td></tr>`;\nconst dr=(label,vals,pv,cv,gu=true)=>`<tr><td style=\"padding:5px 10px\">${label}</td>${vals.map(num).join('')}${pct(cv,pv,gu)}</tr>`;\n\nconst mr=[\n  sec('Merp SOA Tasks'),\n  dr('Open: Beginning of this week (A)',rows.map(r=>r.merp_A||0),prv.merp_A||0,cur.merp_A||0,false),\n  dr('Opened During this week (B)',rows.map(r=>r.merp_B||0),prv.merp_B||0,cur.merp_B||0,false),\n  dr('Closed During this week (C)',rows.map(r=>r.merp_C||0),prv.merp_C||0,cur.merp_C||0,true),\n  dr('Open: End of this week (A + B - C)',rows.map(r=>r.merp_open_corrected||0),prv.merp_open_corrected||0,cur.merp_open_corrected||0,false),\n  '<tr><td colspan=\"6\" style=\"padding:3px\"></td></tr>',\n  dr('Items in Under Development (WIP)',rows.map(r=>r.merp_wip||0),prv.merp_wip||0,cur.merp_wip||0,true),\n  dr('Backlog (Yet to align)',rows.map(r=>r.merp_backlog||0),prv.merp_backlog||0,cur.merp_backlog||0,false),\n].join('');\n\nconst br=[\n  sec('SOA Bugs - Open Project Tickets'),\n  dr('Open : Beginning of this week (A)',rows.map(r=>r.bugs_A||0),prv.bugs_A||0,cur.bugs_A||0,false),\n  dr('Opened During this week (B)',rows.map(r=>r.bugs_B||0),prv.bugs_B||0,cur.bugs_B||0,false),\n  dr('Closed During this week (C)',rows.map(r=>r.bugs_C||0),prv.bugs_C||0,cur.bugs_C||0,true),\n  dr('Open: End of this week (A + B - C)',rows.map(r=>r.bugs_open_corrected||0),prv.bugs_open_corrected||0,cur.bugs_open_corrected||0,false),\n].join('');\n\nconst sumT=`<table border=\"1\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;font-size:13px;min-width:700px\">${hdr}${mr}<tr><td colspan=\"6\" style=\"padding:6px\"></td></tr>${br}</table>`;\nconst bifT=`<table border=\"1\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;font-size:13px;min-width:700px;margin-top:20px\">${hdr}${sec('Merp SOA Tasks')}${dr('Total Opened Tickets during this week (A=B+C)',rows.map(r=>r.merp_B||0),prv.merp_B||0,cur.merp_B||0,true)}<tr><td colspan=\"6\" style=\"padding:3px\"></td></tr>${dr('Business Tickets (B)',rows.map(r=>r.biz_opened||0),prv.biz_opened||0,cur.biz_opened||0,true)}${dr('Internally Opened Tickets (C)',rows.map(r=>r.int_opened||0),prv.int_opened||0,cur.int_opened||0,true)}</table>`;\n\nlet devH='';\nfor (const [dev,tasks] of Object.entries(cur.dev_tasks||{}).sort()){\n  if(!tasks.length)continue;\n  let f=true;\n  for(const t of tasks){\n    const dc=f?`<td rowspan=\"${tasks.length}\" style=\"vertical-align:top;padding:5px 10px;font-weight:bold\">${dev}</td>`:'';\n    devH+=`<tr>${dc}<td style=\"padding:4px 10px\">${t.type} #${t.id}: ${t.subject}</td></tr>`;\n    f=false;\n  }\n}\nconst devT=`<table border=\"1\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;font-size:13px;min-width:700px;margin-top:20px\"><tr><th style=\"${TH};text-align:left;width:160px\">Developer</th><th style=\"${TH};text-align:center\">${wl(cur.start,cur.end)}</th></tr><tr><td style=\"padding:5px 10px\"></td><th style=\"background:${S};color:white;padding:5px 10px;text-align:center\">Tasks</th></tr>${devH}</table>`;\n\nconst weekOf = sl(currStart, currEnd);\nconst period = `${weekOf} ${cur.end.getFullYear()}`;\nconst tasksRows = extractSheetRows(tasksDetailEls, weekOf);\nconst bugsRows  = extractSheetRows(bugsDetailEls,  weekOf);\n\n// Dynamic sheet tab names — include the week date range so each week is identifiable\nconst weekLabel      = `${currStart.getDate()}${MS[currStart.getMonth()]}-${currEnd.getDate()}${MS[currEnd.getMonth()]}`;\nconst sheetTabTasks  = `Tasks ${weekLabel}`;\nconst sheetTabBugs   = `Bugs ${weekLabel}`;\nconst sheetBodyTasks = JSON.stringify({requests:[{addSheet:{properties:{title:sheetTabTasks}}}]});\nconst sheetBodyBugs  = JSON.stringify({requests:[{addSheet:{properties:{title:sheetTabBugs}}}]});\n\nconst html=`<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head><body style=\"font-family:Arial,sans-serif;font-size:13px;color:#222;max-width:900px\"><p>Hi All,</p><p>Please find the Weekly Task Report of BI-SOA from <strong>${period}</strong>.</p><p><strong>Key Highlights :</strong></p>${hl}${sumT}<p style=\"margin-top:20px\">Please find below the bifurcation of total tickets opened :-</p>${bifT}${devT}<br><p>Please refer below for a detailed tracker.<br><a href=\"${SHEET_URL}\">BI-SOA Detailed Tracker</a></p><br><p><em>Thanks &amp; Regards,<br>BI SOA Automation<br>IndiaMart Intermesh Limited</em></p></body></html>`;\nconst subject=`BI Weekly Report :BI SOA Task Status Report : ${period}`;\n\nreturn [{ json: { html, subject, tasksRows, bugsRows, sheetTabTasks, sheetTabBugs, sheetBodyTasks, sheetBodyBugs, cacheOut } }];\n"
      }
    },
    {
      "id": "89870f1e-c001-4e59-af97-5a0ff146225d",
      "name": "Code: Prepare Cache File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        1410
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $('Code: Build Report').first().json;\nconst buffer = Buffer.from(d.cacheOut, 'utf-8');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, 'weekly_data_cache.json', 'application/json');\nreturn [{ json: {}, binary: { data: binaryData } }];\n"
      }
    },
    {
      "id": "6dca07a8-184c-42bf-87e0-e51e16fb0853",
      "name": "Read/Write File: Save Cache",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "continueOnFail": true,
      "position": [
        2020,
        1410
      ],
      "parameters": {
        "operation": "write",
        "fileName": "/home/ramlal/mycode/open_project/soa-weekly-report/weekly_data_cache.json",
        "dataPropertyName": "data",
        "options": {}
      }
    },
    {
      "id": "2a9d9c69-7e79-46a4-a8de-e87c42979102",
      "name": "HTTP: Create Tasks Tab",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "continueOnFail": true,
      "position": [
        1740,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1xK11zA-7yEEOPFROe1uKLOTnsh9jDXch6owK6szd3-0:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Code: Build Report').first().json.sheetBodyTasks }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "b5b5cb32-95c3-4689-87e0-c0731b08a178",
      "name": "GSheets: Clear Tasks",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2020,
        100
      ],
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1xK11zA-7yEEOPFROe1uKLOTnsh9jDXch6owK6szd3-0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Code: Build Report').first().json.sheetTabTasks }}",
          "mode": "name"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "ed4d0a08-78e9-4a95-9e76-7a22d9fc966c",
      "name": "Code: To Task Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $('Code: Build Report').first().json;\nconst rows = d.tasksRows || [];\nif (rows.length === 0) return [{ json: { _noop: true } }];\nreturn rows.map(r => ({ json: r }));\n"
      }
    },
    {
      "id": "fec19b59-af01-4aea-9473-c9067eb49171",
      "name": "GSheets: Append Tasks",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2560,
        100
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xK11zA-7yEEOPFROe1uKLOTnsh9jDXch6owK6szd3-0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Code: Build Report').first().json.sheetTabTasks }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b82087be-aee3-4711-b6f9-ec35ceb13dd5",
      "name": "HTTP: Create Bugs Tab",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "continueOnFail": true,
      "position": [
        1740,
        730
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1xK11zA-7yEEOPFROe1uKLOTnsh9jDXch6owK6szd3-0:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Code: Build Report').first().json.sheetBodyBugs }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "380cdb6b-2199-4153-991b-926ad1d9e1f5",
      "name": "GSheets: Clear Bugs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2020,
        730
      ],
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1xK11zA-7yEEOPFROe1uKLOTnsh9jDXch6owK6szd3-0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Code: Build Report').first().json.sheetTabBugs }}",
          "mode": "name"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "ef0112a8-f60c-4125-b3dd-979b63e37813",
      "name": "Code: To Bug Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        730
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $('Code: Build Report').first().json;\nconst rows = d.bugsRows || [];\nif (rows.length === 0) return [{ json: { _noop: true } }];\nreturn rows.map(r => ({ json: r }));\n"
      }
    },
    {
      "id": "932861d8-5809-45b3-a66c-17a37ebd09bf",
      "name": "GSheets: Append Bugs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2560,
        730
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xK11zA-7yEEOPFROe1uKLOTnsh9jDXch6owK6szd3-0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Code: Build Report').first().json.sheetTabBugs }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "6eb49a5f-cb9f-4aa5-a850-042e18b4c8b8",
      "name": "Code: Restore Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        1275
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $('Code: Build Report').first().json;\nreturn [{ json: { html: d.html, subject: d.subject } }];\n"
      }
    },
    {
      "id": "c7f62986-03c9-4e43-b1db-4a07645cef7b",
      "name": "Send Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2020,
        1275
      ],
      "parameters": {
        "sendTo": "bireports@indiamart.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "ccList": "puneet.agarwal@indiamart.com,vipul.bansal1@indiamart.com"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Code: Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code: Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Setup": {
      "main": [
        [
          {
            "node": "HTTP: Merp Opened",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Merp Open End",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Bugs Opened",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Bugs Open End",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Dev Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Todo Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Tasks Detail",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Bugs Detail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write File: Load Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write File: Load Cache": {
      "main": [
        [
          {
            "node": "Code: Parse Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Cache": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Code: Build Report": {
      "main": [
        [
          {
            "node": "HTTP: Create Tasks Tab",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Create Bugs Tab",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Restore Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Prepare Cache File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Cache File": {
      "main": [
        [
          {
            "node": "Read/Write File: Save Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create Tasks Tab": {
      "main": [
        [
          {
            "node": "GSheets: Clear Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheets: Clear Tasks": {
      "main": [
        [
          {
            "node": "Code: To Task Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: To Task Rows": {
      "main": [
        [
          {
            "node": "GSheets: Append Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create Bugs Tab": {
      "main": [
        [
          {
            "node": "GSheets: Clear Bugs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheets: Clear Bugs": {
      "main": [
        [
          {
            "node": "Code: To Bug Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: To Bug Rows": {
      "main": [
        [
          {
            "node": "GSheets: Append Bugs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Restore Email": {
      "main": [
        [
          {
            "node": "Send Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code: Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Merp Opened": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Merp Open End": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP: Bugs Opened": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP: Bugs Open End": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTTP: Dev Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "HTTP: Todo Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "HTTP: Tasks Detail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "HTTP: Bugs Detail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    }
  }
}